.header_logo {
    height: 64px;
    width: 86px;
    padding-left: 24px;
}

.restaurant_img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.restaurant_rating {
    color: #ff8000;
}

.content_restaurant_category_img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.price_section {
    font-weight: bold;
    color: #ff8000;
}

.plus_icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background:
        linear-gradient(orange 0 0),
        linear-gradient(orange 0 0);
    background-position: center;
    background-size: 50% 4px, 4px 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 2px solid #f0eeeb;
    top: 2px;
    right: 2px;
    position: absolute;
    z-index: 1;
}

.plus_icon:hover {
    background-color: #f0eeeb;
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.delikato_logo {
    max-height: 130px;
    position: absolute;
    left: 35%;
    top: 29%;
}

@media (max-width: 1200px) {

    .delikato_logo {
        max-height: 110px;
        left: 30%;
    }

}

@media (max-width: 1285px) {

    .delikato_logo {
        left: 32%;
    }

}

@media (max-width: 1075px) {

    .delikato_logo {
        left: 30%;
    }

}

@media (max-width: 1000px) {

    .delikato_logo {
        max-height: 100px;
        left: 29%;
    }

}

@media (max-width: 900px) {

    .delikato_logo {
        left: 27%;
    }

}

@media (max-width: 830px) {

    .delikato_logo {
        left: 25%;
    }

}

@media (max-width: 770px) {

    .delikato_logo {
        left: 42%;
        max-height: 90px;
    }

}

@media (max-width: 500px) {

    .delikato_logo {
        left: 39%;
    }

}

@media (max-width: 345px) {

    .delikato_logo {
        left: 36%;
    }

}