.header {
    background-color: #ff8000;
}

.content_total {
    display: flex;
}

.footer {
    background-color: #545454;
}

.media_hide {
    text-decoration: none;
    color: #545454;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
}

.media_hide:hover {
    color: #ff8000;
}

.content_restaurant_navbar {
    background-color: #f0eeeb;
    height: 36px;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.content_restaurant_head {
    max-width: 1200px;
}

.content_restaurant {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
}

.food_content_section {
    height: 180px;
    border: solid;
    border-color: #f0eeeb;
    position: relative;
}

.food_content_section:hover {
    background-color: #FF930F78;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ff8000;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: orange;
}


.pd_left_8 {
    padding-left: 8px;
}

@media (max-width:770px) {
    .content_restaurant {
        width: 100%;
    }

    .content_total {
        flex-direction: column;
    }
}

.hinzufügen {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.hinzufügen:hover {
    background: #0056b3;
}