.header {
    background-color: #ff8000;
}

.content_total {
    overflow-y: scroll;
    scrollbar-color: #ff8000;
    scrollbar-width: thin;
    display:flex ;
}

.footer{
    background-color: #545454;
}

.media_hide{
    text-decoration: none;
    color: #545454;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
}

.media_hide:hover{
    color: #ff8000;
}

.content_restaurant_navbar {
    background-color: #f0eeeb;
    height: 36px;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.content_restaurant_head{
    max-width: 1200px;
}

.content_restaurant{
    width: calc(100% - 300px);
    padding: 16px;
}

.basket_stickyrail {
    width: 300px;
    flex-grow: 1;
}

.basket{
    width: 100%;
    position: sticky;
    top: 0;
}